<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dbase -->
      <package
            uri="http://www.example.org/dbase"
            class="pt.isep.edom.project.c4.mm.dbase.DbasePackage"
            genModel="model/dbase.genmodel"/>
   </extension>

</plugin>
