<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated usecases2 -->
      <package
            uri="http://www.example.org/usecases"
            class="pt.isep.edom.usecases.UsecasesPackage"
            genModel="model/usecases2.genmodel"/>
   </extension>

</plugin>
