<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated rest -->
      <package
            uri="http://www.example.org/rest"
            class="pt.isep.edom.project.c2.mm.rest.RestPackage"
            genModel="model/rest.genmodel"/>
   </extension>

</plugin>
