<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated usecases2 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="pt.isep.edom.usecases.presentation.UsecasesModelWizardID"
            name="%_UI_UsecasesModelWizard_label"
            class="pt.isep.edom.usecases.presentation.UsecasesModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/UsecasesModelFile.gif">
         <description>%_UI_UsecasesModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated usecases2 -->
      <editor
            id="pt.isep.edom.usecases.presentation.UsecasesEditorID"
            name="%_UI_UsecasesEditor_label"
            icon="icons/full/obj16/UsecasesModelFile.gif"
            extensions="usecases"
            class="pt.isep.edom.usecases.presentation.UsecasesEditor"
            contributorClass="pt.isep.edom.usecases.presentation.UsecasesActionBarContributor">
      </editor>
   </extension>

</plugin>
