<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated nav -->
      <package
            uri="http://www.example.org/nav"
            class="pt.isep.edom.project.c1.mm.nav.NavPackage"
            genModel="model/nav.genmodel"/>
   </extension>

</plugin>
